# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite3

# Generated PDFs
generated_kembyala/

# Environment
.env
.venv
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log